<h2 id="title">Ember Simple Auth with Torii and Google</h2>

<div>
  {{#if session.isAuthenticated}}
    <a {{action 'invalidateSession'}}>Logout</a>
  {{else}}
    <a {{action 'authenticateSession'}}>Login</a>
  {{/if}}
</div>
